@model CallCenterSecure.Models.SurveyTemplateViewModel

@{
    ViewBag.Title = "Edit Survey Template";
}

<h2>Edit Survey Template</h2>

@using (Html.BeginForm("Edit", "SurveyTemplate", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    @Html.RouteLink("Cancel", "SurveyTemplate", new { action = "Index" }, new { @class = "btn btn-secondary ml-2" })
}
