@model CallCenter.Models.RegistrationViewModel

@{
    ViewBag.Title = "ResetPassword";
}

<h2>Reset Password</h2>

@using (Html.BeginForm())
{
    
<div class="form-horizontal paddingtop30px">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.Username)
    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.UserId)

    <div class="form-group row">
        <div class="col-md-6">
            <div class="col-md-6"> @Html.Label("User Name", htmlAttributes: new { @class = "control-label" }) </div>
            <div class="col-md-6">@Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } }) </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6">
            <div class="col-md-12">  @Html.Label("New Password", htmlAttributes: new { @class = "control-label" }) </div>
            <div class="col-md-12">   @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password",@minlength="8",@maxlength="15",@placeholder="Please enter new password" } }) </div>
            <div class="col-md-12">  @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger errorMsgPadding" }) </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <div class="col-md-12">  @Html.Label("Confirm Password", htmlAttributes: new { @class = "control-label" }) </div>
            <div class="col-md-12">  @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password",@minlength="8",@maxlength="15",@placeholder="Please confirm password password" } }) </div>
            <div class="col-md-12">  @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger errorMsgPadding" })</div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <div class="savecancelbutton">
                <input type="submit" value="Save" class="btn btn-primary marginright100px" />
                <input type="button" value="Cancel" class="btn btn-primary" onclick="window.location= '@Url.Action( "Index", "Home")'" />
            </div>
        </div>
    </div>
</div>
}
<div class="form-horizontal">
    <div class="row" style="font-size: 12px;color: red;">
        <div class="col-md-12" style="font-size:13px;font-weight:bold"># Password Policy </div>
        <div class="col-md-12">
            <ul class="list-group" style="list-style-type:none !important">
                <li># Minimun password length should be 8 character </li>
                <li># Maximun password length should be 15 character</li>
                <li># Only Alphabets and Numbers allowed</li>
                <li># Minimum Password age 30 days</li>
            </ul>
        </div>
    </div>
</div>

