@model CallCenter.Models.Area

@{
    ViewBag.Title = "Area Details";
}

<h2>Area Details</h2>

<div>
    <h4>Area</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreaCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Village.VillageName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Village.VillageName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AreaCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
