@model CallCenter.Models.MIMULocation

@{
    ViewBag.Title = "MIMU Location Details";
}

<h2>MIMU Location Details</h2>

<div>
    <h4>MIMU Location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.CountryCode)</dt>
        <dd>@Html.DisplayFor(model => model.CountryCode)</dd>

        <dt>@Html.DisplayNameFor(model => model.CountryName)</dt>
        <dd>@Html.DisplayFor(model => model.CountryName)</dd>

        <dt>@Html.DisplayNameFor(model => model.StateCode)</dt>
        <dd>@Html.DisplayFor(model => model.StateCode)</dd>

        <dt>@Html.DisplayNameFor(model => model.StateName)</dt>
        <dd>@Html.DisplayFor(model => model.StateName)</dd>

        <dt>@Html.DisplayNameFor(model => model.DistrictCode)</dt>
        <dd>@Html.DisplayFor(model => model.DistrictCode)</dd>

        <dt>@Html.DisplayNameFor(model => model.DistrictName)</dt>
        <dd>@Html.DisplayFor(model => model.DistrictName)</dd>

        <dt>@Html.DisplayNameFor(model => model.CityCode)</dt>
        <dd>@Html.DisplayFor(model => model.CityCode)</dd>

        <dt>@Html.DisplayNameFor(model => model.CityName)</dt>
        <dd>@Html.DisplayFor(model => model.CityName)</dd>

        <dt>@Html.DisplayNameFor(model => model.VillageTractCode)</dt>
        <dd>@Html.DisplayFor(model => model.VillageTractCode)</dd>

        <dt>@Html.DisplayNameFor(model => model.VillageTractName)</dt>
        <dd>@Html.DisplayFor(model => model.VillageTractName)</dd>

        <dt>@Html.DisplayNameFor(model => model.VillageCode)</dt>
        <dd>@Html.DisplayFor(model => model.VillageCode)</dd>

        <dt>@Html.DisplayNameFor(model => model.VillageName)</dt>
        <dd>@Html.DisplayFor(model => model.VillageName)</dd>

        <dt>@Html.DisplayNameFor(model => model.AreaCode)</dt>
        <dd>@Html.DisplayFor(model => model.AreaCode)</dd>

        <dt>@Html.DisplayNameFor(model => model.AreaName)</dt>
        <dd>@Html.DisplayFor(model => model.AreaName)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
