@model CallCenter.Models.AllianceBranch

@{
    ViewBag.Title = "Alliance Branch Details";
}

<h2>Alliance Branch Details</h2>

<div>
    <h4>Alliance Branch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BranchCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BranchCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BranchType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentBranch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParentBranch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchEmailID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BranchEmailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BranchAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeadOffice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeadOffice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegionalOffice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegionalOffice)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BranchCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
